.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-color);
}

.text {
  margin-right: 500px;
  text-align: right;
  color: rgb(121, 120, 120);
  text-decoration: underline;
}
